body {
    background: #fefffe;
    color: #0f1108;
    font-family: Lato;
    font-weight: 100;
}

.kfp-header {
    font-size: 80px;
    text-align: center;
}

.candidate-container {
    box-sizing: border-box;
    border: solid #0f1108 10px;
    max-width: 500px;
    text-align: center;
}
.candidate-container:hover {
    border: solid #eabfcb 10px;
}
    .candidate-container header {
        
    }
        .candidate-container header h2 {
            text-align: center;
        }
    .candidate-container .container-img {
        width: 100%;
    }
        .candidate-container .container-img img {
            display: block;
            margin: 0 auto;
        }
    .candidate-container footer {
        width: 100%;
    }
        .candidate-container footer ul {
            height: 125px;
            margin: 0 auto;
            width: 360px;
        }
        .candidate-container footer ul:after {
            clear: both;
            content: "";
        }
            .candidate-container footer ul li {
                border: solid #0f1108 5px;
                float: left;
                font-size: 35px;
                line-height: 35px;
                height: 60px;
                padding: 5px;
                width: 100px;
        }



.u-kill-brand {
    color: #2f2d2e;
    font-family: 'Bonbon', cursive;
}
.u-fuck-brand {
    color: #651d0a;
    font-family: 'Bonbon', cursive;
}
.u-president-brand {
    color: #ea638c;
    font-family: 'Bonbon', cursive;
}
