<nav>
    <header>
       <h1 id="headline" class="headline">
           <span class="u-kill-brand">kill &nbsp;</span>
           <span class="u-fuck-brand">fuck &nbsp;</span>
           <span class="u-prez-brand">prez</span>

       </h1>
       <div class="">
        <a href="/img/crystal.jpg" 
            class="navbtn navbtn-next fa fa-institution js-next"
            data-lightbox="image-1" data-title="Next President...?"
            data-toggle="tooltip" data-placement="left" 
            title="Push-button President Predictor (*beta*)">
        </a>
    </header>
</nav>
<div class="container">
    <div class="row stats-row">
        <div class="col-sm-4 lp-feature">
            <div class="stat-circ active-viz js-viz-type" data-viz-type="kill">
                <i class="fa fa-bomb fa-4x"></i>
            </div>
        </div>
        <div class="col-sm-4 lp-feature">
            <div class="stat-circ js-viz-type" data-viz-type="fuck">
                <i class="fa fa-thumbs-up fa-4x"></i>
            </div>
        </div>
        <div class="col-sm-4 lp-feature">
            <div class="stat-circ js-viz-type" data-viz-type="prez">
                <i class="fa fa-institution fa-4x"></i>
            </div>
        </div>
    </div>
    <hr>
    <div class="row chart-container">
        <p class="viz-title">
            the most <span class="js-viz-title viz-title-em">killable</span>
        </p>
        <div class="col-lg-12 js-viz"></div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/javascripts/d3.min.js"></script>
<script src="/javascripts/d3-tip.js"></script>
<script src="/javascripts/demo-stats.js"></script>
<script src="/javascripts/lightbox.min.js"></script>
<script>
    // should eventually be an object of arrays...
    var data = {
                kill: [
                    {name: "Time", count: 80},
                    {name: "Kim Jong-un", count: 35},
                    {name: "Yoga", count: 47},
                    ],
                fuck: [
                    {name: "Cronuts", count: 80}, 
                    {name: "The Police", count: 200},
                    {name: "Algebra", count: 40},
                    ],
                prez: [
                    {name: "Britney Spears", count: 34},
                    {name: "Farmville", count: 64},
                    {name: "Pepsi", count: 440},
                    ],
                };

    $(document).ready(function() {

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        var activeChartClass = "active-viz";
        var chartTitleClass = "js-viz-title";
        var chartClass = "js-viz";
        var chartTitles = {
            kill: "killable",
            fuck: "fuckable",
            prez: "presidentable",
        };

        var chartOptions = {
            width: $("."+chartClass).width(),
            height: 300,
            margin: { top: 10, right: 40, bottom: 50, left: 55 },
        };
        var chart = createChart(chartOptions, data);

        $(".js-viz-type").click(changeChartHandler);
        function changeChartHandler(e) {
            var $this = $(this);
            if (isChartActive($this)) return false;
            modifyInactive();
            modifyNewlyActive($this);

            var chartType = $this.data("viz-type"); // or vizType
            updateChartTitle(chartType);
            updateChart(chartType);

        }
        function isChartActive($clickedElt) {
            return $clickedElt.hasClass(activeChartClass);
        }
        function modifyInactive() {
            $("."+activeChartClass).removeClass(activeChartClass);
        }
        function modifyNewlyActive($clickedElt) {
            $clickedElt.addClass(activeChartClass);
        }
        function updateChartTitle(chartType) {
            $("."+chartTitleClass).text(chartTitles[chartType]);
        }

        function createChart(chartOptions, data) {
            console.log(chartOptions);
            var margin  = chartOptions.margin;
            var translate = "translate(" + [chartOptions.margin.left, chartOptions.margin.top] + ")";
            console.log(translate);
            var svg = d3.select(".js-viz")
                        .append("svg")
                        .attr({
                            height: chartOptions.height + 50,
                            width: chartOptions.width,
                        })
                        .append("g")
                        .attr("transform", translate);
            // TODO: add resize handler from argus...
            return makeHistogram(svg, chartOptions, data);
        }
        function updateChart(chartType) {
            chart.update(chartType);
        }
    });



</script>