<nav>
    <header>
       <h1 id="headline" class="headline">
           <span class="u-kill-brand">Kill &nbsp;</span>
           <span class="u-fuck-brand">Fuck &nbsp;</span>
           <span class="u-prez-brand">Elect</span>
       </h1>
       <div class="">
           
       </div>
    </header>
</nav>
<section class="container main-container">
    <div class="row">
        <article class="candidate-container col-lg-4 js-candidate-container">
            <header>
                <h2 class="candidate-name">kitten 1</h2>
                <p class="text-muted candidate-description">Lorem ipsum dolor.</p>
            </header>
            <div class="candidate-img js-candidate-img">
                <img src="http://placekitten.com/g/200/200" alt="">
            </div>
            <footer>
                <ul class="">
                    <li class="js-candidate-action u-kill" data-action="kill">
                        <i class="fa fa-bomb"></i>
                        kill
                    </li>
                    <li class="js-candidate-action u-fuck" data-action="fuck">
                        <i class="fa fa-thumbs-up"></i>
                        fuck
                    </li>
                    <li class="js-candidate-action u-prez" data-action="prez">
                        <i class="fa fa-institution"></i>
                        elect
                    </li>
                </ul>
            </footer>
        </article>

        <article class="candidate-container col-lg-4 js-candidate-container">
            <header>
                <h2 class="candidate-name">kitten 2</h2>
                <p class="text-muted candidate-description">Lorem ipsum dolor.</p>
            </header>
            <div class="candidate-img js-candidate-img">
                <img src="http://placekitten.com/g/200/200" alt="">
            </div>
            <footer>
                <ul class="">
                    <li class="js-candidate-action u-kill" data-action="kill">
                        <i class="fa fa-bomb"></i>
                        kill
                    </li>
                    <li class="js-candidate-action u-fuck" data-action="fuck">
                        <i class="fa fa-thumbs-up"></i>
                        fuck
                    </li>
                    <li class="js-candidate-action u-prez" data-action="prez">
                        <i class="fa fa-institution"></i>
                        elect
                    </li>
                </ul>
            </footer>
        </article>
        <article class="candidate-container col-lg-4 js-candidate-container">
            <header>
                <h2 class="candidate-name">kitten 3</h2>
                <p class="text-muted candidate-description">Lorem ipsum dolor.</p>
            </header>
            <div class="candidate-img js-candidate-img">
                <img src="http://placekitten.com/g/200/200" alt="">
            </div>
            <footer>
                <ul class="js-candidate-action">
                    <li class="js-candidate-action u-kill" data-action="kill">
                        <i class="fa fa-bomb"></i>
                        kill
                    </li>
                    <li class="js-candidate-action u-fuck" data-action="fuck">
                        <i class="fa fa-thumbs-up"></i>
                        fuck
                    </li>
                    <li class="js-candidate-action u-prez" data-action="prez">
                        <i class="fa fa-institution"></i>
                        elect
                    </li>
                </ul>
            </footer>
        </article>
    </div>
    <div class="row">
        <article class="candidate-container col-lg-12 js-candidate-container u-min-height-fix u-max-width-fix">
                <button class="submit-button fa fa-refresh js-reload">reload</button>
        </article>  
        <article class="candidate-container col-lg-12 js-candidate-container u-min-height-fix u-max-width-fix">
                <button class="submit-button fa fa-arrow-right js-next">next</button>
        </article>        
    </div>
</section>
<div class="halp" data-toggle="tooltip" data-placement="top" title="Here is some helpful text about killing fucking and electing people.">
    ?
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- <script src="/javascripts/FitText.js/jquery.fittext.js"></script> -->
<script>
    // $("#headline").fitText(1.2);

    $(document).ready(function() {
        // simple tooltip wuddeva
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        // animations when 
        var action_map = {
                      "kill": { animation: "hinge"},
                      "fuck": { animation: "pulse", delayed_animation: { delay: 3000, animation: "rollOut" }},
                      "prez": { animation: "flipOutY"},
                    };

        $(".js-candidate-action").click(kfp_selection_handler);

        function kfp_selection_handler(e) {
            var $target = $(this);
            if ($target.hasClass("selected")) {
                // remove selection styles and return early
                $target.removeClass("selected");
                return false;
            }

            // remove similar actions' 'selected' class                
            var action  = $target.data("action");
            validate_selection_globally(action); 

            // remove click events from siblings? or add disabled class? or fade them out...

            $target.siblings().removeClass("selected");
            $target.addClass("selected");

            console.log("animating");
            animate_img(action);
        }


        function animate_img(action) {
            if (!action_map[action]) { console.log("nonexistent action passed to animate_img"); return; }

            var animation = action_map[action].animation;
            var action_selector = "[class*=\"selected\"][data-action=\"%\"]".replace("%", action);
            var $img = $(action_selector)
                        .parents(".js-candidate-container")
                        .find(".js-candidate-img img");

            $img.addClass("animated " + animation);

            function hideActionSiblings() {
                $(action_selector).siblings().addClass("animated bounceOut");
                $("[data-action=\"%\"]".replace("%", action)).addClass("u-disabled");
            }

            var delayed_animation = action_map[action].delayed_animation;
            if (delayed_animation) {
                setTimeout(function() {
                    $img.addClass(delayed_animation.animation)
                    // EXECUTES ON THE END OF AN ANIMATION!
                    $img.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', hideActionSiblings);

                }, delayed_animation.delay);
            } else {
                // EXECUTES ON THE END OF AN ANIMATION!
                $img.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', hideActionSiblings);
            }


        }

        $(".js-reload").click(reload_handler);

        function reload_handler() {
            $(".animated").removeClass("animated pulse rollOut bounceOut flipOutY hinge");
            $(".u-disabled").removeClass("u-disabled");
            $(".selected").removeClass("selected");
        }

        $(".js-next").click(kfp_next_handler);



        function validate_selection_globally(action) {
            var action_selector = "[data-action=\"%\"]".replace("%", action);

            function iterator(i, d) {
                    var $conflicting_selection = $(d);
                    $conflicting_selection.removeClass("selected");
            }

            $(action_selector).each(iterator);
        }

        function kfp_next_handler(e) {
            $this = $(this)
            validate_submission();
            animate_imgs();
        }
        function validate_submission() {
            
        }


    });
</script>