<div class="container">
    <div class="row">
        <div class="col-md-12 lp-feature">
            <h1>life is full of decisions</h1>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-4 lp-feature">
                <div class="lp-circ">
                    <i class="fa fa-bomb fa-5x"></i>
                    <h2 id="headline" class="headline">
                        <span class="u-kill-brand">Kill</span>
                    </h2>
                </div>
            </div>
            <div class="col-sm-4 lp-feature">
                <div class="lp-circ">
                    <i class="fa fa-thumbs-up fa-5x"></i>
                    <h2 id="headline" class="headline">
                        <span class="u-fuck-brand">Fuck</span>
                    </h2>
                </div>
            </div>
            <div class="col-sm-4 lp-feature">
                <div class="lp-circ">
                    <i class="fa fa-institution fa-5x"></i>
                    <h2 id="headline" class="headline">
                        <span class="u-prez-brand">Elect</span>
                    </h2>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 lp-feature">
            <a href="/demo/1"
                class="lp-demo-button">
                view the demo
            </a>
        </div>
    </div>
</div>
