<html>
<head>
    <meta charset="UTF-8">
    <title>kill fuck president</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/lightbox.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "1bb677d3-89cc-40f7-b3aa-315e92976b51", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>
{{{body}}}
</body>
</html>
